* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    background-color: #f3f3f3;
}

.header-container {
    width: 100%;
    height: 26rem;
    position: absolute;
    transition: 0.5s ease;
    transform: translateY(-260px);
    background-color: rgb(12, 12, 15);
    opacity: 90%;
}
.toggle-button {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}
span {
    position: absolute;
    bottom: -7rem;
    left: 4rem;
    font-size: 5rem;
    color: #ffffff;
    cursor: pointer;
    padding: 3px 8px;
    background: black;
}
#check:checked ~ .header-container {
    transform: translateY(0);
    position: fixed;
}
#check:checked ~ .header-container #x{
    display: none;
}
.header-nav {
    font-size: 3rem;
    font-weight: 400;
    height: 100%;
    padding: 1.5rem;
    text-align: center;
}
.header-nav ul {
    list-style: none;
}
.header-nav ul li {
    padding: 1rem;
}
.header-nav ul a {
    text-decoration: none;
    color: #ffffff;
}
.header-nav ul li:hover a {
    color: rgb(72, 132, 228)
}
#home {
    background-color:rgb(33, 33, 50);
    width: 100%;
    min-width: 320px;
    height: 90rem;
    padding-top: 8rem;
    display: grid;
    grid-template-columns: 1fr;
    background-image: url(https://www.pngkey.com/png/full/8-80192_free-distinct-patterns-naldz-infinite-design-cube-black.png);
}
.home-text {
    width:75%;
    padding-top: 5rem;
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-size: 6rem;
    padding: 1rem
}

.photo {
    width: 20rem;
    border-radius: 50%;
    margin: 0 auto;
}
.photo img {
    width:100%;
    border-radius: 50%;
}
.photo p {
    color:#ffffff;
    padding-top: 2rem;
    font-size: 3rem;
    text-align: center;
}
#about { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}
.about-box {
    width: 60%;
}
.about-box h3 {
    font-size: 3.5rem;
    padding: 1rem;
    text-align: center;
}
.sections {
    color:rgb(86, 50, 119)
}
.about-box p {
    padding-top: 1rem;
    text-align: justify;
}
.about-social i {
    padding-top: 1rem;
    margin: 1.5rem;
    font-size: 5rem;
    color:rgb(65, 65, 65)
}
#projects {
    margin-top: 4rem;
}
#projects h3 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.projects {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto;
}
.projects div {
    background-color: #ffffff;
    border-radius: 2rem;
    margin: 2rem 0;
}
.projects div h4 {
    font-size: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
}
.projects div img {
    width: 100%;
    padding: 1rem;
}
.project-button {
    display: flex;
    justify-content: center;
}
.project-button a {
    background-color: rgb(65, 63, 84);
    color: #ffffff;
    text-decoration: none;
    padding: 1rem;
    border-radius: 5px;
}
.project-button:hover a {
    background-color: #1d1d1d;
}
#contact {
    width: 70%;
    margin: 6rem auto;
}
#contact h3 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.contact-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 70rem;
    margin: auto;
}
.contact-container div {
    text-align: center;
    margin: 1rem;
}
.contact-container div h4 {
    font-size: 2.4rem;
}
.contact-container div p {
    font-size: 2rem;
}
.contact-container div i {
    font-size: 10rem;
    padding: 1rem 0;
}
.whatsapp {
    color: rgb(93, 140, 93);
}
.email {
    color: rgb(163, 9, 9);
}
#form-contact {
    background-color: rgb(28, 25, 47);
    width:100%;
    padding: 3rem;
}
#form {
    width: 95%;
    margin: 0 auto;
}
.form-group {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.form-group label {
    padding: 1rem;
    color: #ffffff;
    font-size: 2rem;
}
.form-control {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    color: #ffffff;
}
.btn-form {
    background-color: #969696;
    font-size: 2rem;
    padding: 4px 7px;
    margin-left: 2rem;
}

@media (min-width: 650px) {
    .header-container {
        position: sticky;
        height: 9rem;
        transform: translateY(0);
    }
    .header-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    span {
        left: -25rem;
    }
    #home {
        height: 65rem;
        padding-top: 3rem;
    }
    #home h1 {
        width: 45%;
    }
    .projects div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
    }
    .projects div h4 {
        width: 100%;
        margin: 2rem;
        text-align: center;
    }
    .projects div img {
        width: 50%;
        padding: 2rem 0;
    }
    .projects div a {
        margin: auto;
    }
    .contact-container {
        grid-template-columns: repeat(2, 1fr);
    }

}
@media (min-width: 900px) {

    .header-nav {
        width: 60%;
        margin: 0 auto;
        min-width: 70rem;
    }
    .about-box p {
        width: 60%;
        min-width: 70rem;
        margin: 0 auto;
    }
    .projects {
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        min-width: 85rem;
        max-width: 120rem;
        width: 75%;
    }
    .projects div {
        flex-direction: column;
    }
    .projects div h4 {
        padding: 0;
    }
    .projects div img {
        width: 90%;
    }
    #form {
        width: 65%;
        max-width: 120rem;
    }
}